html {
  min-height: 100vh;
  background: url(./img/Etch.jpg);
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}

header, main{
  display: flex;
  justify-content: center;
}

main{
  flex-direction: column;
  align-items: center;
}

header {
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 10px;
}

#grid_container{
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
  margin-top: 25px;
  border: 2px solid cadetblue;
  box-shadow: -5px 5px black;
  border-radius: 5px;
  cursor: pointer;
}

#grid_container div{
  border: 1px solid cadetblue;
}

#grid_btn{
  margin-top: 20px;
  padding: 8px 16px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  background-color: aliceblue;
}

#grid_btn:hover{
  background-color: chocolate;
  color: aliceblue;
  border: 2px solid aliceblue;
  box-shadow: 10px 0px 20px 0px aliceblue;
  transform: scale(1.2);
}

#grid_btn:active{
  background-color: aliceblue;
  color: black;
  border: 2px solid black;
  box-shadow: 0 5px 10px black;
  transform: translateY(5px);
}

#colors{
  display: flex;
}

#colors div{
  margin-top: 20px;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#colors div:hover{
  transform: scale(1.1);
  box-shadow: 0 5px 10px 0 aliceblue;
}

#colors div:active{
  transform: translateY(4px);
}

#black {
  background-color: black;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#random {
  animation: 4s color infinite;
}

@keyframes color {
  0% {background:#FF0000 ;}
  20% {background: #00FF00;}
  40% {background: #0000FF;}
  60% {background: #FFFF00;}
  80% {background: #00FFFF;}
  100% {background: #FF00FF;}
}